<div id = "physicians">
	<% @physicians.each do |physician| %>
	  <strong><%= physician.first_name %> <%= physician.last_name %></strong>
	    <p>
		    <%= link_to "Add physician", physicians_path(physician), method: :post %>
	    </p>
	<% end %>
</div>
