<div id = "calendar">
	<%= calendar do |date| %> 

		<%= date.day %>

		<% if date >= current_user.first_day_of_period.date && date <= current_user.last_day_of_period.date %>
			<div class="predicted_period">
			actual period
			</div>
		<% end %>

		<% if date >= current_user.first_day_of_period.date && date <= current_user.first_day_of_period.date + current_user.avg_period.days %>
			<div class="average_period">
			average period
			</div>
		<% end %>

		<% if date >= current_user.first_day_of_period.date + current_user.fertile_window_start && date <= current_user.first_day_of_period.date + current_user.fertile_window_end %>
			<div class="fertile_period">
				fertile period
			</div>
		<% end %>

	<% end %>
</div>