<div class="about-nav">
  <%= link_to "Home", root_url, :class => 'navbar-link' %> 
</div>

<h1> Meet the Makers </h1>

<div class="container">
	<div class="aysha-pic">
	</div>
		<div class="aysha">
			<h3>Aysha E.</h3>
			<li>aysha.edathodu@gmail.com</li>
			<a href="https://twitter.com/aysha_says">@aysha_says</a>
		</div>

	<div class="rebecca-pic">
	</div>
		<div class="rebecca">
			<h3>Rebecca Q.</h3>
			<li>beks.qu@gmail.com</li>
			<a href="https://twitter.com/beksqu">@beksqu</a>
		</div>
</div>