@import "bourbon";
@import "home";
@import "daily_rhythms";
@import "users";

body {
  padding:0px;
  margin:0px;
}

body.home.index {
  padding-top: 400px;
  background-image: url('girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    text-align: center;
    color: white;
  }
}


.nav {
  background-color: #F2F2F2;
  width: 100%;
  display: inline-block;

  border-bottom: solid;
  border-width: 1px;
  border-color: #CCCCCC;

  font-weight: medium;
  font-size: 15px;
  text-align: left;
  padding-top: 6px;

  ul {
    display: inline-block;
    list-style-type: none;
    // float: right;
    padding: 0px;
    margin: 0px;
  }

  li {
    width: 70px;
    float: right;
    // height: 20px;
    padding: 7px;  
  }

}

    // a {
    //   // display: block;
    //   border: 3px solid white;
    //   // color: white;
    //   // padding: 4px 8px;
    //   // text-decoration: none;
    //   // width: 100px;
    //   // margin: 5px;
    //   // float: right; 
    // }

    // a:hover {
    //   background-color: grey;
    // } 
 