@import "nav";
@import "users";
@import "daily_rhythms";
@import "physicians";
@import "registrations";
@import "sessions";
@import "today_form";

body.home.index {
  background-image: image-url('half-wheel.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 68%;
  background-attachment: fixed;

}


