table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width: 85%;
}

td,th {
  font-family: proxima-nova,sans-serif;
  font-size: 18px;
  padding: 6px;
  border: 1px solid #999;
}

th {
  text-align: left;
  font-weight: normal;
  background: #f8f8f8;
  color: #1A1A1A;
  text-align: center;
  width: 14.2857142857143%;
}

td {
  background: #FFF;
  color: #777;
  height: 130px;
  vertical-align: top;
  font-size: 16px;
  padding: 0px;
}

p.date {
  margin-top: 6px;
  margin-bottom: 2px;
  margin-left: 6px;
  text-align: left;
  font-size: 18px;
  padding-bottom: 2px;
  font-weight: bold;
}

header.calendar-header {
  text-align: center;
  padding-bottom: 12px;
  padding-top: 40px;
}

header.calendar-header a {
  color: #444;
  font-size: 30px;
  padding-bottom: 3px;
  text-decoration: none;
}

header.calendar-header span {
  font-family: proxima-nova,sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #444;
  padding: 10px;
}

div.daily_info {
  padding: 2px;
  color: #22474F
  // background-color: #44C9E5;
}

div.actual_period {
  position: relative;
  background-color: #FF9D9D;
  height: 25px;
  margin: 0px; 
  padding-top: 2px;
  text-align: center;
  color: white;
  padding-top: 4px;
}

div.average_period {
  background-color: #D9226B;
  height: 25px;
  margin: 0px; 
  text-align: center;
  color: white;
  padding-top: 4px; 
}

div.fertile_period {
  background-color: #57E2A7;
  height: 25px;
  margin: 0px;
  color: white;
  text-align: center; 
  padding-top: 4px;
}

.today {
  background-color: #f0f0f0;
}
