
.loginform{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;

.form{
    margin-top: 95px;    
    background-color: #f8f8f8;
    // margin-top: -20px;    
    text-align: center;
    font: 20px proxima-nova,sans-serif;

    .signin {
        input[type=text],
        input[type=email],
        input[type=password] {
            padding: 10px 80px;
            border: none;
            border-radius: 5px;
        }
 
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 3px;
        // max-width: 500px;
        height: 20px;
        background: #E6E6E6;
        padding: 25px 12px 15px 12px;
        color: #808080;
        text-shadow: 1px 1px 1px #FFF;
        border:1px solid #E4E4E4;
        border-radius: 4px;
        max-width: 700px;
        height: 20px;
        background: #f8f8f8;
        padding: 30px;
        color: #444;
    }

    .rem{
        font-size: 16px;
    }

    input.button {
        margin-top: 25px;
        border: none;
        outline: none;
        font-family: proxima-nova,  sans-serif;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: #348774;
        color: white;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        width: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-appearance: none;
        font-weight: 600;
        -ms-user-select: none;
        -webkit-transition: all 0 ease-in-out;
        -moz-transition: all 0 ease-in-out;
        -o-transition: all 0 ease-in-out;
        transition: all 0 ease-in-out;
        box-shadow: 0 3px #348774;
        padding: 15px 30px;
    }
}
}