body.daily_rhythms.new {

  h1 {
      text-align: center;
      color: #444;
      font: 35px proxima-nova, sans-serif;
      font-style: normal;
      font-weight: 300;
      margin-bottom: 30px;
  }

  
}